// === Settings === \\
$pc: 1240px;
$tablet: 768px;
$mobile: 360px;

$color-blue: #605DF4;
$color-white1: #F5F7F9;
$color-white2: #DDE2E5;
$color-blue-gradient: linear-gradient(155.38deg, #605DF4 -0.66%, #504DDC 99.56%);
$color-purple: #4846B7;
$color-dark: #091526;

*{
    --containerWidth: 1137px;
    --containerIndents: 24px;
    @media (max-width: 992px){
        --containerIndents: 16px;
    }
}
div[class$="__container"] {
    max-width: calc(var(--containerWidth)  + var(--containerIndents) * 2);
    padding: 0 var(--containerIndents);
    margin: 0 auto;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animation { 
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
body{
    --containerPositionIndent: 0;
    background-color: #050E1B;
    color: $color-white1;
    font-family: Montserrat;
    &._ru {
        .title {
            text-transform: unset;
        }
    }
}
section{
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    &._show{
        transform: translateY(0);
        opacity: 1;
    }
}

// === Additional === \\\
h1{
    font-size: 58px;
    line-height: 66px;
    @media (max-width: 992px){
        font-size: 32px;
        line-height: 39px;
    }
}
h2{
    font-size: 36px;
    line-height: 44px;
    @media (max-width: 992px){
        font-size: 24px;
        line-height: 29px;
    }
}
h3{
    font-size: 32px;
    line-height: 39px;
}
h4{
    font-size: 20px;
    line-height: 24px;
    @media (max-width: 992px){
        font-size: 16px;
    }
}
h5{
    font-size: 16px;
    line-height: 19.5px;
    @media (max-width: 992px){
        font-size: 12px;
        line-height: 15px;
    }
}
h6{
    font-size: 14px;
    line-height: 17px;
}
p{
    font-size: 14px;
    line-height: 20px;
    @media (max-width: 992px){
        font-size: 12px;
        line-height: 15px;
    }
}
span{
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit
}
._color-blue{
    color: $color-blue;
}
.quote{
    display: flex;
    &._last{
        margin-left: auto;
        width: fit-content;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #081426;
    &__container {}
    &__list {
        display: flex;
        align-items: center;
        padding: 128px 0;
        transition: all 0.2s ease 0.2s;
    }
    &__item {}
    &__link {
        font-size: 40px;
        line-height: 54px;
        &:hover {
            opacity: 0.4;
        }
    }
    &__list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 16px;
    }
    &._active{
        left: 0;
    }
    @media (max-width: 992px){
        &__list {
            padding: 26px 0;
        }
        &__link {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
.burger{
    --width: 20px;
    --height: 17.5px;
    --heightItem: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.2px 5.6px;
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    &__btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: var(--width);
        height: var(--height);
        position: relative;
        margin-top: 0;
        &::before, div, &::after{
            content: '';
            width: var(--width);
            position: absolute;
            height: var(--heightItem);
            background: $color-white1;
            transition: top .2s ease .2s, bottom .2s ease .2s, transform .2s, width .2s;
        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
    }
    &._active .burger__btn{
        // --width: 40px;
        // --height: 35px;
        border: 1px solid white;
        padding: 24px;
        border-radius: 50%;
        transition: padding 0.2s ease 0.2s, border 0.2s ease 0.2s, margin-top 0.2s ease 0.2s;
        margin-top: 128px;
        transform: scale(2);
        transition: transform 0.4s, 0.2s;
        &::before, div, &::after{
            transition: top .2s ease 0s, bottom .2s ease 0s, transform .2s ease .2s, width .0s ease .2s, bottom .4s ease .0s, top .4s ease .0s;
        }
        &::before{
            top: calc(50% - var(--heightItem)/2);
            transform: rotate(45deg) ;
        }
        div{
            width: 0;
        }
        &::after{
            bottom: calc(50% - var(--heightItem)/2);
            transform: rotate(135deg);
        }
    }
    @media (max-width: 992px){
        &._active .burger__btn{
            transform: scale(1);
            border: 1px solid white;
            margin-top: 0;
            margin-right: var(--containerIndents);
        }
    }
}
.checkbox{
    input {
        display: none;
    }
    label{
        display: inline-flex;
    }
    label::before{
        content: '';
        font-size: 0;
        background-size: 0;
    }
    label::before + input:checked{

    }
}
.dropdown {
    position: relative;
    &__title {}
    &__wrapper {
        overflow: hidden;
    }
    &__item {}
    &__content{
        margin-top: -100vh;
    }
    &._abs{
        .dropdown__wrapper{
            position: absolute;
        }
    }
    &._open{
        .dropdown__content{
            margin-top: 0;
        }
    }
}
.tabs {
    &__head {}
    &__title {}
    &__body {}
    &__item {
        display: none;
    }
    &__item._active{
        display: flex;
        animation: fade 1s;
    }
}
.lock{
    overflow: hidden;
    touch-action: none;
}
.maintitle {
    &__title {
        background: linear-gradient(155.38deg, #605DF4 -0.66%, #504DDC 99.56%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 8px;
        font-weight: 600;
    }
    &__subtitle {
        color: $color-white1;
        margin-bottom: 30px;
    }
}
.contactus {
    display: flex;
    align-items: center;
    width: fit-content;
    background: $color-blue-gradient;
    color: $color-white2;
    padding: 16px 34px;
    border-radius: 37px;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid $color-blue;
    cursor: pointer;
    &__icon{
        margin-left: 8px;
        font-size: 24px;
    }
    &:hover{
        border: 1px solid white;
    }
    &._transparent{
        border: 1px solid #605DF4;
        background: transparent;
        &:hover {
            background-color: $color-blue;
        }
    }
    @media (max-width: 992px){
        padding: 8px 16px;
        font-size: 14px;
        line-height: 28px;

        &__icon{
            margin-left: 4px;
            font-size: 16px;
        }
    }
}
.achievment {
    display: flex;
    align-items: center;
    &__icon {
        font-size: 60px;
    }
    &__devider {
        width: 2px;
        height: 65px;
        background-color: #FCFCFC;
        margin: 0 22px;
    }
    &__text {
        line-height: 30px;
        color: #FCFCFC;
    }
    @media (max-width: 992px){

    }
}
.phone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    &__note {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content;
        font-size: 12px;
        line-height: 14.63px;
        padding: 10px ;
        border-radius: 8px;
        position: absolute;
        backdrop-filter: blur(300px);
        z-index: 2;
        &._1{
            background-color:rgba(96, 93, 244, 0.4300000071525574);
            top: -0.0091%;
            right: 26.8%;
        }
        &._2{
            background-color:rgba(245, 247, 249, 0.05000000074505806);
            top: 45.3%;
            left: -0.0273%;
        }
        &._3{
            background-color:rgba(5, 14, 27, 0.10000000149011612);
            top: 58.9%;
            right: 8px;
        }
        @media (max-width: 992px){
            &._2{
                top: 40%;
            }
            &._3{
                top: 61%;
            }
        }

    }
    &__icon {
        font-size: 40px;
        margin-right: 8px;
    }
    &__pic {
        position: relative;
        z-index: 1;
    }
    &__light{
        position: absolute;
        top: 13px;
    }
    ._light {
        .phone__icon{

        }
    }
}
.technologies {
    text-align: center;
    &__title {
        color: rgba(white, 0.6);
        line-height: 1.2;
        margin-bottom: 24px;
        font-weight: 500;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px 80px;
        opacity: 0.5;
    }
    &__pic {
        filter: grayscale(1);
        max-height: 32px;
    }
    @media (max-width: 992px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
            font-size: 14px;
            line-height: 24px;
        }
        &__pic{
            max-height: 26px;
        }
    }
    @media (max-width: 480px){
        &__list {
            display: grid;
            gap: 20px;
            max-width: 79%;
            grid-template-columns: 1fr 1fr;
        }
    }
}
.contacts {
    &__title {}
    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 16px;
        border-left: 1px solid $color-blue;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;
    }
    @media (max-width: 992px){
        &__item {
            font-size: 16px;
            line-height: 20.8px;
        }
        
    }
}
.social {
    &__title {}
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    &__link {}
    &__icon {
        font-size: 30px;
        &:hover{
            &::before {
                color: $color-blue !important;
            }
        }
    }
    &._bordered .social{
        &__title {}
        &__list {
            gap: 5px;
        }
        &__link {}
        &__icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            font-size:18px;
            border-radius: 50%;
            border: 1px solid #D8C2FA;
            &:hover {
                border: 1px solid $color-blue !important;
                background-color: $color-blue;
                &::before {
                    color: white !important;
                }
            }
        }
    }
}
.form {
    display: grid; 
    gap: 24px 44px; 
    align-items: center;
    grid-template-areas: 
      "fields fields"
      "policy submit"; 

    &__fields {
        grid-area: fields;
        display: grid;
        gap: 21px;
        grid-template-areas: 
          "name email"
          "description description"; 
        }
        ._name { grid-area: name; }
        ._email { grid-area: email; }
        ._description { grid-area: description; height: 73px;}
    &__input {
        border: 1px solid #DCE8FD;
        font-size: 14px;
        line-height: 19.6px;
        padding: 11px 20px;
        border-radius: 11px;
        background: transparent;
    }
    &__input, &__input::placeholder {
        color: white;
        font-family: Montserrat;
    }
    &__policy {
        grid-area: policy;
        display: inline-block;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.63px;
        text-align: left;
    }
    &__link {
        display: inline-flex;
        color: inherit;
        text-decoration: underline;
        // font-size: 12px;
        // line-height: 14.63px;
    }
    &__submit {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        grid-area: submit;
        color: #5235E8;
        padding: 11px 24px;
        gap: 10px;
        border-radius: 100px;
        background-color: white;
        font-size: 16px;
        line-height: 22.4px;
        &:hover{
            opacity: 0.8;
        }
    }
    &__icon {
        font-size: 20px;
        color: #5235E8;
    }
    @media (max-width: 992px){
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        &__fields{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 24px;
        }
        &__input{
            width: 100%;
        }
        &__policy{
            margin-bottom: 18px;
        }
    }
}
.dropdown {
    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 44px 35px;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        border-bottom: 1px solid $color-blue;
        cursor: pointer;
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        height: 14px;
        width: 14px;
        position: relative;
        &::before, &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            background-color: white;
            transition: 0.2s;
        }
        &::after{
            transform: rotate(90deg);
        }
    }
    &__wrapper {}
    &__content {
        padding: 44px 35px;
        border-bottom: 1px solid $color-blue;
    }
    &__text {}
    &._open {
        .dropdown__title{
            border-bottom: 1px solid rgba($color-blue, 0.3);
        }
        .dropdown__icon{
            &::after{
                transform: rotate(220deg);
            }
            &::before{
                transform: rotate(-45deg);
            }
        }
    }
    @media (max-width: 992px){
        &__title {
            padding: 24px 7.5px;
            font-size: 14px;
            line-height: 28px;

        }
        &__content {
            padding: 24px 7.5px;
        }
    }
}
.point {
    &__item {
        &::before{
            content: '•';
            margin-right: 8px;
        }
    }
}
.slider {
    &__arrows {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        gap: 18px;
    }
    &__toggle {
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        border: 1px solid white;
        border-radius: 50%;
        font-size: 14px;
        &:hover {
            border: 1px solid $color-blue;
            background-color: $color-blue;
        }
    }
    &__list {
    }
    &__item {}
    &__dots, .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        div{
            width: 10px;
            height: 10px;
            border-radius: 50%;
            border: 1px solid $color-blue;
            cursor: pointer;
        }
        div._active, .slick-active{
            border-radius: 50%;
            background-color: $color-blue;
        }
    }
}
.steps {
    padding: 40px 74px;
    background-color:#081426;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__header {
        width: fit-content;
        background-color: #050E1B;
        border-radius: 100px;
        padding: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 53px;
    }
    &__tab {
        width: fit-content;
        border-radius: 100px;
        text-transform: uppercase;
        padding: 12px 36px;
        cursor: pointer;
        &:hover {
            background-color: rgba($color-blue, 0.1);
        }
        &._active{
            background-color: $color-blue;
        }
    }
    &__list {}
    &__item {
        display: flex;
        align-items: flex-start;
        gap: 80px;
    }
    &__pic, &__info {
        flex: 1;
    }
    &__pic {
        // padding: 0 27px 18px 0;
        position: relative;
    }
    &__img {
        border-radius: 24px;
    }
    &__card {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    &__info {
        width: 502px;
    }
    &__name {
        font-weight: 700;
        margin-bottom: 16px;
    }
    &__desc {
        line-height: 1.5;
        margin-bottom: 30px;
    }
    &__contact {}
    @media (max-width: 992px){
        padding: 32px 0 60px;
        &__header {
            margin-bottom: 32px;
        }
        &__item{
            flex-direction: column;
            gap: 20px;
        }
    }
    @media (max-width: 480px){
        &__header {
            display: flex;
            max-width: 100%;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            margin-bottom: 66px;
        }
        &__tab {
            width: 50%;
            text-align: center;
        }
        &__pic{
            max-width: 100%;
        }
        &__info {
            width: 100%;
        }
        &__name {
            margin-bottom: 14px;
        }
        &__desc {
            margin-bottom: 24px;
            line-height: 14.63px;
            
        }
    }
}
.tabs {
    &__title {}
    &__list {}
    &__item{
    }
    &__item:not(._active) {
        display: none;
    }
    &__item._active{
        display: flex;
        animation: fade 2s;
    }
}
.card {
    display: grid;
    align-items: center;
    justify-content: space-between;
    background-color: $color-blue;
    border-radius: 16px;
    padding: 16px 22px;
    width: 248px;
    grid-template-areas: 
      "title title"
      "profiles icons"
      "info info"; 
    &__title {
        grid-area: title;
        font-weight: 700;
        margin-bottom: 14px;
    }
    &__profiles {
        grid-area: profiles;
    }
    &__avatar {
        margin-right: -10px;
        width: 18px;
        &:first-child {
            width: 20px;
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        gap: 3px;
        grid-area: icons;
    }
    &__btn {}
    &__icon {
        font-size: 20px;
    }
    &__info {
        margin-top: 13px;
        display: grid;
        align-items: flex-start;
        grid-area: info; 
        gap: 7px 8px;
        grid-template-columns: 18px auto auto 10px;
        grid-template-areas: 
          "author fio time other"
          "author review review review"
          ". deviders deviders ."; 
    }
    &__author {
        // margin-right: 9px;
        width: 18px;
        grid-area: author;
    }
    &__fio {
        font-size: 8px;
        font-weight: 500;
        line-height: 9.75px;
        grid-area: fio;
    }
    &__review {
        font-size: 6px;
        line-height: 7.31px;
        grid-area: review;

    }
    &__time {
        font-size: 6px;
        line-height: 7.31px;
        grid-area: time;
    }
    &__other {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: other;
        gap: 2px;
        padding: 5px 15px;
        margin: -5px -15px;
        &::before, div, &::after{
            content: '';
            width: 2px;
            height: 2px;
            background-color: white;
            border-radius: 50%;
        }
    }
    &__deviders {
        display: flex;
        flex-direction: column;
        gap: 6px;
        grid-area: deviders;
        &::before, &::after{
            content: '';
            width: 100%;
            height: 7px;
            background-color: $color-purple;
            border-radius: 100px;
        }
        &::before{
            width: 93%;
        }
    }
}
.title {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 8px;
    text-align: center;
}
.subtitle {
    text-align: center;
}
.logo {
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    line-height: 36.57px;  
    color: $color-white1;
    pointer-events: none;
    &__icon {
        margin-right: 10px;
        font-size: 40px;
        color: $color-blue;
    }
    @media (max-width: 992px){
        margin: 0 auto 0 0 ;
        font-size: 24px;
        line-height: 29px;
        &__icon {
            font-size: 30px;
        }
    }
}
.translate{
    margin: auto 15px auto 0; 
    font-size: 20px;
    cursor: pointer;
    &:hover{
        color: $color-blue;
    }
    @media (max-width: 992px){
        font-size: 16px;
    }
}
@keyframes down {
    from {
        top: -100%;
    }
    to {
        top: 0;
    }
}
// === Basic === \\
.header {
    z-index: 3;
    padding: 39px 0;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    &._scroll {
        padding: 20px 0;
        top: -100%;
        position: fixed;
        background-color: $color-dark;
        animation: down 0.5s forwards;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {}
    &__menu {}
    &__burger {
    }
    &._scroll .header{
    }
    @media (max-width: 992px){
        padding: 26px 0;
        &__social {
            display: none;
        }
    }
}
.startpage {
    padding: 167px 0 68.5px 0;
    background-image: url('./../img/background/startpage-ellipse-bg.png');
    background-position: 788px -230px;
    background-size: 904px;
    &__container {
        display: grid; 
        gap: 0 60x;
        align-items: flex-start;
        grid-template-columns: auto 500px; 
        
        grid-template-areas: 
          "maintitle phone"
          "achievment phone"
          "technologies technologies"; 
    }
    &__title {
        grid-area: maintitle;
        margin: 73px 0 57px;
    }
    &__achievment {grid-area: achievment; margin-top: 16px;}
    &__phone {grid-area: phone; }
    &__technologies {
        grid-area: technologies; 
        margin-top: -54px;
    }
    @media (max-width: 992px){
        padding: 111px 0 78px 0;
        &__container {
            gap: 0 20px;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px); 
            grid-template-areas: 
              "maintitle phone"
              "achievment achievment"
              "technologies technologies"; 
        }
        &__technologies {
            margin-top: 80px;
        }
        &__title {
            order: 2;
            margin: 0 0 10px;
        }
    }
    @media (max-width: 480px){
        &__container {
            display: flex;
            flex-direction: column;
        }
        &__achievment {
            order: 3;
            margin-bottom: 40px;
        }
        &__phone {
            order: 1;
        }
        &__technologies {
            order: 4;
            width: 100%;
        }
    }
}
.business {
    padding-bottom: 250px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__title, &__subitle {
        max-width: 80%;
    }
   
    &__title {
        font-weight: 700;
        margin-bottom: 12px;
    }
    &__subitle {
        margin-bottom: 60px;
        max-width: 65%;
    }
    &__list {
        display: grid;
        grid-template-rows: min-content;
        grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    &__item {
        text-align: left;
        padding: 26px;
        height: 100%;
        background-size: 100% 100%;
        border-radius: 16px; 
        &#business_item1{
            background-image: url('./../img/background/business-item1-bg.png');
        }
        &#business_item2{
            background-image: url('./../img/background/business-item2-bg.png');
        }
        &#business_item3{
            background-image: url('./../img/background/business-item3-bg.png');
        }
        &#business_item4{
            background-image: url('./../img/background/business-item4-bg.png');
        }
    }
    &__icon {
        margin-bottom: 20px;
        font-size: 78px;
    }
    &__name {
        margin-bottom: 6px;
        color: $color-blue;
        font-weight: 700;
    }
    @media (max-width: 992px){
        padding-bottom: 45px;
        &__title, &__subitle {
            max-width: 100%;
        }
        &__list {
            grid-template-columns: 50% 50%;
        }
    }
    @media (max-width: 480px){
        &__container {
        }
        &__title {
            margin-bottom: 9px;
        }
        &__subitle {
            margin-bottom: 39px;
        }
        &__list {
            max-width: 79%;
            grid-template-columns: 100%;
        }
        &__item{
            min-height: 310px;
        }
        &__icon {
            font-size: 64px;
        }
    }
}
.studio {
    background-image: url('./../img/background/studio-bg.png');
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 64px;
    }
    &__info {
        max-width: 424px;
        padding: 145px 0 ;
    }
    &__title {
        color: white;
        text-align: left;
        margin-bottom: 24px;
    }
    &__subtitle {
        margin-bottom: 24px;
    }
    &__pic {
        margin-top: auto;
    }
    &__img {
        max-width: 450px;
        margin-top: -118px;
        width: 100%;
    }
    @media (max-width: 992px){
        &__container {
        }
        &__title{
            text-align: center;
        }
        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: unset;
            padding: 25px 0 50px;
        }
        &__img{
            margin-top: -25px;
        }
    }
    @media (max-width: 480px){
        &__container {
            flex-direction: column;
            gap: 0;
        }
        &__info {
            max-width: unset;
            padding: 45px 0 90px;
            text-align: left;
            align-items: flex-start;
        }
        &__title{
            font-size: 32px;
            line-height: 39.01px;
            margin-bottom: 20px;
            text-align: left;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__pic{
            max-width: 298px;
        }
    }
}
.benefits {
    padding-top: 134px;
    &__container {
        display: grid; 
        gap: 0 182px;
        grid-template-columns: auto 500px;
        grid-template-areas: 
          "header list"
          "contact list"
          "contact list"
          "contact list"
          ; 
    }
    &__header {
        top: 80px;
        margin-bottom: 80px;
        position: sticky;
        background-color: #050e1b;
        grid-area: header;
        padding: 4% 0;
        transition: 0s;
    }
    &__title {
        margin-bottom: 12px;
        text-align: left;
    }
    &__contact {
        grid-area: contact;
        align-self: end;
    }
    &__list {
        display: flex;
        grid-area: list;
        flex-direction: column;
        gap: 50px;
        margin-top: auto;
    }
    &__item {
        padding: 32px 50px;
        background-color:$color-dark;
        border-radius: 20px;
        position: relative;
    }
    &__name {
        margin-bottom: 10px;
        font-weight: 700;
        color: $color-blue;
        text-transform: capitalize;
    }
    &__desc {}
    @media (max-width: 992px){
        padding-top: 58px;
        &__container {
            --containerIndents: 38px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: calc(var(--containerWidth) + var(--containerIndents) * 2);
            padding: 0 var(--containerIndents);
        }
        &__contact {
            display: none;
        }
        &__header {
            margin-bottom: 38px;
            padding: 16px 0;
        }
        &__title {
            text-align: center;
        }
        &__item {
            padding: 33px;
        }
        &__title {
            margin-bottom: 8px;
        }
        &__subtitle {
            text-align: center;
        }
        &__name{
            font-size: 24px;
            line-height: 29.26px;
        }
        &__desc{font-family: Montserrat;
            font-size: 16px;
            line-height: 19.5px;
        }
    }
}
.work {
    padding-top: 139px;
    &__container {}
    &__header {
        text-align: center;
        margin-bottom: 56px;
    }
    &__title {
        margin-bottom: 12px;
    }
    &__subtitle {}
    &__steps {}
    @media (max-width: 992px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        &__header {
            max-width: 80%;
            margin-bottom: 0;
            padding: 24px 0;
        }
        &__title {
            margin-bottom: 6px;
        }
    }
}
.advantages {
    padding: 135px 0 125px;
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        margin-bottom: 56px;
    }
    &__title {
        margin-bottom: 10px;
        position: relative;
    }
    &__subtitle {}
    &__header{
        position: absolute;
        bottom: 18px;
    }
    &__logo {
        display: inline-flex;
        flex-direction: column;
        text-align: justify;
        font-size: 15.95vw;
        line-height: 0.76;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        left: 0;
        bottom: 0;
        font-family: Poppins;
        -webkit-text-stroke: 2px $color-blue;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        text-align: left;
        text-transform: uppercase;
        position: relative;
        &::after{
            content: '  ';
            position: absolute;
            bottom: 0;
            left: 0;
            box-shadow: 0px -180px 180px 0px rgba(#050E1B, 1) inset;
            width: 100%;
            height: 100%;
        }
        
        
    }
    &__list {
        display: grid; 
        gap: 20px 24px; 
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 280px 280px 280px;
        grid-template-areas: 
            "_1 _1 _1"
            "_2 _3 _3"
            "_2 _4 _5"; 
    }
    &__item {
        display: flex;
        height: 100%;
        border-radius: 24px;
        overflow: hidden;
        filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
    }
    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    &__contact {}
    &__pic {}
    ._1 {
        grid-area: _1;
        background-image: url('./../img/background/advantages-item1-bg.png') ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-size: 100% 100%;
        padding: 0 99px 18px 53px;
        align-items: center;
        gap: 56px;
        .contactus{
            margin-top: 24px;
        }
    }
    ._2 {
        grid-area: _2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 18px;
        background-image: url('./../img/background/advantages-item2-bg.png');
        .advantages__pic{
            margin-bottom: 167px;
        }
    }
    ._3 {
        grid-area: _3;
        background-image: url('./../img/background/advantages-item3-bg.png');
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 0 0 50px;
        .advantages__desc{
            max-width: 320px;
        }
    }
    ._4 {
        grid-area: _4;
        background-image: url('./../img/background/advantages-item4-bg.png');
    }
    ._5 {
        grid-area: _5;
        background-image: url('./../img/background/advantages-item5-bg.png');
    }
    ._4, ._5 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px;
        border-radius: 20px;
    }
    @media (max-width: 992px){
        padding: 70px 0 95px;
        &__container {
            --containerIndents: 16px;
        
            max-width: calc(var(--containerWidth)  + var(--containerIndents) * 2);
            padding: 0 var(--containerIndents);
        }
        &__top {
            flex-direction: column;
        }
        &__logo{
            -webkit-text-stroke: 1px #605df4;
            &::after{
                box-shadow: 0px -46px 46px 0px rgba(#050E1B, 1) inset;
            }
        }
        &__header{
            position: relative;
            bottom: 0;
            max-width: 80%;
        }
        &__list {
            display: flex;
            flex-direction: column; 
            gap: 24px; 
        }
        &__item {
            width: 100%;
            justify-content: flex-start;
        }
        &__desc{
            // align-items: center;
            // text-align: center;
        }
        ._1 {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            padding: 0;
            gap: 44px;
            background-size: cover;
            padding: 0 18px 32px;
        }
        ._2 {
            padding: 73px 20px 68px;
            background-image: url('./../img/background/advantages-item2-bg.png');
            .advantages__pic{
                margin-bottom: 95px;
            }
        }
        ._3 {
            flex-direction: column;
            align-items: flex-start;
            padding: 59px 24px 0 ;
            .advantages__desc{
                padding: 0;
                margin-bottom: 59px;
            }
        }
        ._4, ._5 {
            align-items: center;
            height: 220px;
            .advantages__desc {
                text-align: center;
            }
        }
    }
    @media (max-width: 480px){
        font-family: Montserrat;
        font-size: 14px;
        line-height: 17.07px;
        &__list{
            display: flex;
            flex-direction: column;
        }
        &__item {
            padding-right: 24px;
            padding-left: 24px;
        }
        &__desc{
            align-items: flex-start;
            text-align: left;
        }
        br {
            display: none;
        }
        .contactus{
            margin-top: 20px;
        }

    }
}
.projects {
    background-color: $color-dark;
    padding: 62px 0 84px;
    &__container {
        display: grid; 
        align-items: center;
        justify-content: space-between;
        gap: 75px 0px; 
        grid-template-areas: 
          "header arrows"
          "list list"; 
    }
    &__header {
        grid-area: header;
    }
    &__title {
        margin-bottom: 10px;
        text-align: left;
    }
    &__subtitle {
        text-align: left;
    }
    &__arrows {
        grid-area: arrows;
        margin-left: auto;
    }
    &__list {
        grid-area: list;
        display: flex;
        overflow: hidden;
        max-width: calc(100% + var(--containerPositionIndent) + var(--containerIndents));
        margin-right: calc(-1 *  (var(--containerPositionIndent) + var(--containerIndents)));
    }
    .slick-slide {
        margin-right: 24px;
    }
    &__item {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 500px;
        position: relative;
        padding: 28px;
        border-radius: 24px;
        overflow: hidden;
        min-width: 339px;
        text-align: center;
    }
    &__name {
        position: relative;
        font-weight: 600;
        margin-bottom: 37px;
    }
    &__pic {
        max-width: 190px;
        position: relative;
    }
    &__app {
        position: absolute;
        max-width: 123px;
        &._appstore {
            bottom: 188px;
            left: -29px;
        }
        &._googlepay {
            bottom: 34px;
            right: -34px;
        }
    }

    &__bg {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    @media (max-width: 992px){
        background-color: $color-dark;
        padding: 47px 0 52px;
        &__list{
            margin-bottom: 43px;
        }
        &__item {
            min-width: unset;
            padding: 48px; 
            // margin-right: 32px;
        }
        .slick-slide {
            margin-right: 24px;
        }
        &__name {
            text-align: center;
            margin-bottom: 48px;
        }
        &__pic {
            max-width: 170px;
        }
    }
    @media (max-width: 480px){
        &__container {
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        &__arrows {
            margin: auto;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
            margin-bottom: 54px;
        }
        &__list{
            max-width: 100%;
        }
        .slick-slide {
            // margin-right: 0;
        }
    }
}
.collaborates {
    padding: 118px 0;
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__header {}
    &__title {
        margin-bottom: 8px;
        font-weight: 700;
    }
    &__subtitle {
        margin-bottom: 30px;
    }
    &__dots {}
    &__list, &__item {
        width: 100%;
        max-width: 689px;
    }
    &__text {}
    &__quote{
        &._first{
            margin-bottom: 10px;
        }
        &._last {
            margin-top: 10px;
        }
    }
    &__author {
        display: grid; 
        align-items: center;
        justify-content: flex-start;
        grid-template-rows: min-content min-content; 
        gap: 0 20px; 
        grid-template-areas: 
          "avatar name"
          "avatar jobtitle"; 
        }
    &__avatar {
        font-family: Montserrat;
        font-size: 16px;
        font-style: italic;
        grid-area: avatar;
    }
    &__name {
        font-weight: 700;
        font-style: italic;
        grid-area: name;
    }
    &__jobtitle {
        grid-area: jobtitle;
    }
    @media (max-width: 992px){
        padding: 71px 0;
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__header {
            text-align: center;
        }
        &__title {
            margin-bottom: 10px;
            br {display: none;}
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__text{
            font-size: 14px;
            line-height: 17px;
        }
        &__name {
            font-size: 16px;
        }
    }
    @media (max-width: 480px){
        &__title {
            br {display: block;}
        }
    }
}
.team {
    --picWidth: 354px;
    --picIndent: 75px;
    padding: 70px 0;
    background-color:#081426;
    &__container {
        display: grid;
        align-items: center;
    }
    &__title {
    }
    &__subtitle {
        font-weight: 300;
        margin-bottom: 60px;
    }
    &__list {
        width: calc(var(--containerWidth)  + var(--containerIndents) * 2);
    }
    &__item {
        display: flex !important;
        align-items: flex-start;
        gap: var(--picIndent);
    }
    &__pic {
        max-width: var(--picWidth);
        border-radius: 30px;
        overflow: hidden;
        min-width: 354px;
        img{
            width: 100%;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__name {
        margin-bottom: 12px;
        font-size: 26px;
        font-weight: 600;
    }
    &__jobtitle {
        margin-bottom: 30px;
        font-style: italic;
    }
    &__devider {
        width: 100%;
        height: 1px;
        background-color: $color-blue;
        margin-bottom: 30px;
    }
    &__desc {
        *{
            font-size: 16px;
            line-height: 24px;
        }
    }
    &__points {
        margin-bottom: 16px;
    }
    &__text {}
    &__arrows {
        width: fit-content;
        margin: -24px 0 0 calc(var(--picWidth) + var(--picIndent));
        z-index: 1;
    }
    @media (max-width: 992px){
        padding: 33px 0 68px;
        &__container {
            display: flex;
            flex-direction: column;
            max-width: 100% !important;
        }
        &__subtitle {
            font-size: 12px;
            line-height: 14.63px;
            margin-bottom: 40px;
        }
        &__list {
            width: 100%;
        }
        &__item {
            // display: inline-block !important;
            flex-direction: row;
            gap: 35px;
        }
        &__pic {
            min-width: unset;
            max-width: 100%;
        }
        &__name {
            font-size: 24px;
            margin-bottom: 0;
        }
        &__desc {
            *{
                font-size: 14px;
                line-height: 21px;
            }
        }
        &__devider {
            margin-bottom: 24px;
        }
        &__arrows {
            margin: 34px auto 0;
            .slick-icon {
                font-size: 52px;
            }
        }
    }
    @media (max-width: 480px){
        &__item {
            flex-direction: column;
        }
        &__pic {
            width: 100%;
        }
    }
}
.faq {
    padding: 127px 0 164px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    &__subtitle {
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 1;
    }
    &__title {
        margin-bottom: 36px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        padding-bottom: 80px;
    }
    &__item {
        width: 100%;
    }
    @media (max-width: 992px){
        padding: 58px 0 257px;
        &__subtitle {
            font-size: 12px;
            margin-bottom: 16px;
        }
        &__title {
            margin-bottom: 22px;
        }
        &__list {
            padding-bottom: 0px;
        }
    }
}
.feedback {
    display: flex;
    background-color: #081426;
    padding-bottom: 80px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
        margin-top: -110px !important;
        padding: 50px 70px !important;
        border-radius: 30px;
        background-image: url('./../img/background/feedback-bg.png');
    }
    &__title {}
    &__form {}
    &__link {

    }
    @media (max-width: 992px){
        padding: 0 var(--containerIndents);
        &__container {
            flex-direction: column;
            width: 100%;
            padding: 57px 34px !important;
            gap: 60px;
            margin-top: -192px !important;
        }
        &__title {
            text-align: left;
            margin-bottom: 0;
        }
    }
}
.footer {
    padding: 50px 60px;
    background-color: #081426;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    &__desc {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    &__logo {
        margin: 0 0 32px;
    }
    &__text {
        color: #BFBFBF;
        font-size: 12px;
        line-height: 18px;
    }
    &__info {
        flex: 1 1 50%;
        padding: 64px;
        display: grid;
        align-items: flex-start;
        justify-content: space-between;
        grid-template-areas: 
        "contact social"
        "copyright copyright"; 
    }
    &__contacts {
        grid-area: contact;
        margin-bottom: 57px;
    }
    &__subtitle {
        margin-bottom: 18px;
        color: $color-blue;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
    }
    &__copyright {
        grid-area: copyright;
        font-size: 12px;
        line-height: 18px;
        color: #bfbfbf;
    }
    &__social {
        grid-area: social;
    }
    
    @media (max-width: 992px){
        padding: 80px 40px 40px;

        &__container {
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 !important;
            gap: 64px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        &__logo{
            font-size: 30px;
            line-height: 36.57px;
            margin: 0 0 32px;
        }
        &__text{ 
            font-family: Montserrat;
            font-size: 14px;
            line-height: 17.07px;
        }
        &__subtitle {
            margin-bottom: 16px;
        }
        &__copyright {
            margin-bottom: 64px;
        }
    }
}


// === Media Queries === \\

@media (max-width: $tablet){
    *{
        --containerIndents: 20px;
    }
}
@media (max-width: $mobile) {
    *{
        --containerIndents: 16px;
    }
}